<div id="container">
    <div id="container-title">
        <p id="title">Ingesta calórica</p>
    </div>
    <div id="container-info">

        <div class="comidas">
            <p class="subtitle">Desayuno:</p>
            <p class="calories">{{caloriesChild[0]}} k</p>
        </div>

        <div class="comidas">
            <p class="subtitle">Comida:</p>
            <p class="calories">{{caloriesChild[1]}} k</p>
        </div>

        <div class="comidas">
            <p class="subtitle">Cena:</p>
            <p class="calories">{{caloriesChild[2]}} k</p>
        </div>

    </div>
</div>